[MASTER]
ignore=__pycache__,build,dist
persistent=yes

[MESSAGES CONTROL]
disable=
    # Unable to import
    E0401,
    # Missing module docstring
    C0114,
    # Missing class docstring
    C0115,
    # Missing function or method docstring
    C0116,
    # Too few public methods
    R0903,
    # Constant name doesn't conform to UPPER_CASE (invalid-name)
    C0103,
    # Unused argument
    W0613

[FORMAT]
max-line-length=120
indent-string='    '
expected-line-ending-format=LF
