locations:
  - name: "North America"
    location_type__name: "Region"
    status:
      "!get:name": "Active"
  - name: "United States"
    location_type__name: "Country"
    parent:
      "!get:name": "North America"
    status:
      "!get:name": "Active"
  - name: "State"
    location_type__name: "State/Province"
    parent:
      "!get:name": "United States"
    status:
      "!get:name": "Active"
  - name: "{{ site_name }}"
    location_type__name: "Site"
    parent:
      "!get:name": "State"
    status:
      "!get:name": "Active"
    devices:
          {% for hostname, ip in device_ips %}
          - name: "{{ hostname }}"
            device_type:
              "!get:model": "33609"
            role:
              name: "compressor"
            status:
              "!get:name": "Active"
            primary_ip4: "!ref:{{ hostname }}_ip"
            interfaces:
              - name: "GigabitEthernet0/0"
                type: "1000base-t"
                status:
                  "!get:name": "Active"
                ip_addresses:
                  - address: "{{ ip }}"
                    status:
                      "!get:name": "Active"
                    "!ref": "{{ hostname }}_ip"
          {% endfor %}
