---
roles:
  - "!create_or_update:name": "compressor"
    color: "9e9e9e"
    content_types:
      - "!get:app_label": "dcim"
        "!get:model": "device"

devices:
{% for device in data.devices %}
  - "!create_or_update:name": "{{ device.hostname }}"
    location__name: "{{ device.site }}"
    device_type:
      manufacturer__name: "Neve"
      model: "33609"
    role__name: "compressor"
    status__name: "Active"
    interfaces:
      - name: "GigabitEthernet0/0"
        type: "1000base-t"
        status__name: "Active"
        ip_address_assignments:
          - ip_address:
              "!create_or_update:address": "{{ device.ip }}"
              status__name: "Active"
{% endfor %}
